<!-- <style>
    .hrLine {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #eee;
        box-sizing: content-box;
    }
</style> -->
<div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref=".userForm">Assignment</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li style=" cursor: pointer;"><a ng-click=""><span class="glyphicon glyphicon-log-in"></span>
                        Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="col-md-2 col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="sidebar-nav">
                    <ul class="nav nav-stacked">
                        <li class="active"><a ui-sref=".userForm"><i class="fa fa-home fa-fw"></i><strong>Assignment</strong></a></li>
                        <hr>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>